head
    title brewing
    
    link(href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css')
    
    script(src="/bubbles.js")

body
    .bubbles

        button.bubble-toggle(style="display:none") Slå av bobler

    .foam

    .brewer
        .col-md-6
            h4.brewer-name Brygger: Jørgen
        .col-md-3
            .btn.btn-default Ny brygger
        .col-md-3
            .btn.btn-default Eksisterende brygger

    .content
        .page.frontpage
            +frontpage
        .page.newbrew(style="display:none")
            +newbrew
        .page.newbrewer(style="display:none")
            //+newbrewer
        .page.oldbrew(style="display:none")
            //+oldbrew
        .page.brewinprogress(style="display:none")
            //+brewinprogress
        .page.archivebrew(style="display:none")
            //+archivebrew
        .page.editbrew(style="display:none")
            //+editbrew
        








