head
    title brewing

    link(href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css')

    script(src="/bubbles.js")

body
    +main


template(name="main")
    //
        .bubbles
            .glass

        button.bubble-toggle(style="display:none") Slå av bobler

    .foam

    .brewer
        .col-xs-6
            if brewer
                h4.brewer-name #{brewer.name}, #{brewer.brewery}
        unless brewer
            .col-xs-3
                .btn.btn-default(onclick="nextPage('newbrewer');") Ny brygger
            .col-xs-3
                .btn.btn-default(onclick="nextPage('login');") Eksisterende brygger

    .content
        .page.frontpage
            +frontpage
        .page.newbrew(style="display:none")
            +newbrew
        .page.newbrewer(style="display:none")
            +newbrewer
        .page.oldbrew(style="display:none")
            //+oldbrew
        .page.login(style="display:none")
            +login
        .page.brewinprogress(style="display:none")
            //+brewinprogress
        .page.archivebrew(style="display:none")
            +archivebrew
        .page.evalbrew(style="display:none")
            +evalbrew









