
template(name="frontpage")

    .row.headline
        h1 Ølbrygging
        h4 I samarbeid med Åsen Bryggeri

    .row.menu
        
        .new-brew-btn.btn.btn-default Nytt brygg
        .old-brew-btn.btn.btn-default Gammelt brygg
        

    .row.brew-list
        .col-md-6
            h2 Aktive brygg
            table
                thead
                    tr
                        th Tittel
                        th Øltype
                        th Påbegynt
                tbody
                    tr
                        td Superbrygg
                        td Lager
                        td 24.05.2014
                    tr
                        td Drittbrygg
                        td Lager
                        td 24.05.2014
                    tr
                        td Drittbrygg
                        td Lager
                        td 24.05.2014
                    tr
                        td Drittbrygg
                        td Lager
                        td 24.05.2014
        .col-md-6
            h2 Arkiverte brygg

            table
                thead
                    tr
                        th Tittel
                        th Øltype
                        th Vurdering
                        th Påbegynt
                tbody
                    tr
                        td Superbrygg
                        td Lager
                        td ★★★★
                        td 24.05.2014
                    tr
                        td Drittbrygg
                        td Lager
                        td ★★★★
                        td 24.05.2014
                    tr
                        td Drittbrygg
                        td Lager
                        td ★★★★
                        td 24.05.2014
                    tr
                        td Drittbrygg
                        td Lager
                        td ★★★★
                        td 24.05.2014
