
template(name="frontpage")

    .row.headline
        h1 Ølbrygging
        h4

    .row.menu
        if brewer
            .new-brew-btn.btn.btn-default Nytt brygg

    .row.brew-list
        .col-md-6-col-md-offset-3
            h2 Brygg
            hr
            table
                thead
                    tr
                        th Tittel
                        th Øltype
                        th Påbegynt
                tbody
                    each brews
                        tr.active-brew(brewId="#{_id}")
                            td= title
                            td= type
                            td= dateStarted
